
<div id="logoFixed"></div>
<div id='wrapper'> <!-- wrapper starts -->
	<div id='headerWrapper'>
		<div id='header' class='fixed'>
			<a class='boxShadow navLink aboutUsLink' href='#aboutUs'>
				<span>
					<img src='images/nav_icons_aboutUs.png' alt='Acerca de m&iacute;' title='Acerca de m&iacute;' />
				</span><!--section: Sobre m&iacute;-->
				<em class="menutext">Acerca</em>
			</a>
			<a class='boxShadow navLink productsLink' href='#products'>
				<span>
					<img src='images/nav_icons_products.png' alt='Mis productos' title='Mis productos' />
				</span><!--section: Productos-->
				<em class="menutext">Productos</em>
			</a>
			<a class='boxShadow navLink eventsLink' href='#events'>
				<span>
					<img src='images/nav_icons_events.png' alt='Ferias' title='Ferias' />
				</span><!--section: Ferias-->
				<em class="menutext">Ferias</em>
			</a>
			<a class='boxShadow navLink corpGiftLink' href='#corpGift'>
				<span>
					<img src='images/nav_icons_corpGift.png' alt='Regalos Personalizados' title='Regalos Personalizados' />
				</span><!--section: Regalos-->
				<em class="menutext">Regalos</em>
			</a>
		</div>
	</div>

	<div id='mainContainer'> <!-- main container starts -->
		<div id='containerWrapper'>
			<div id="sectionsContainer" class="cf">
				<div id='aboutUs' class='container'> <!-- about us starts -->
					<div class='sectionDesc'>
						<div class='descContainer'>
							<h4>Bienvenidos</h4>
							<p>Somos Flor de Ajedrez, la distribuidora n&uacute;mero uno de Ritter Sport en Costa Rica, as&iacute; como de otros productos de renombre como Rossini.</p>
						</div>
					</div>
					<div class='heroContainer'>
						<div class='hero boxShadow'>
						  <div id='slideShow'>
						    <img src='../images/slide1.jpg' id='slide1' class='heroImg active' />
						    <img src='../images/slide2.jpg' id='slide2' class='heroImg' />
					            <img src='../images/slide3.jpg' id='slide3' class='heroImg' />
						  </div>
						</div>
					</div>
				</div> <!-- about us ends -->

				<div id='videos' class='container'> <!-- about us starts -->
					<div class='heroContainer videos'>
						<div class='boxShadow'>
					          <iframe class="youtube-player margin40" type="text/html" width="450" height="271" src="http://www.youtube.com/embed/jmvNRJnIw8c?rel=0" frameborder="0"></iframe>
						  <br />
						  <br />
					          <iframe class="youtube-player" type="text/html" width="450" height="271" src="http://www.youtube.com/embed/sp2nmN7RTro?rel=0" frameborder="0"></iframe>
						</div>
					</div>
				</div> <!-- about us ends -->
				
				<div id='products' class='container'> <!-- products starts -->
					<div class='sectionDesc'>
						<div class='descContainer'>
							<h4>Productos</h4>
							<p>Distribuimos chocolates Ritter Sport en su mayor&iacutea de tama&ntilde;os, sabores y formatos disponibles. <br /><br />
							</p>
				  		<% unless @categorias.empty? %>
  			  	    		  <ul class='productsCat'>
			    	      		    <% @categorias.each do |categoria| %>
			      	        	      <li><%= link_to categoria.nombre, productos_por_categoria_path(categoria.id), :remote => true,:style=>"text-decoration:none;" %></li>
                                      		    <% end %>
		          	    		  </ul>
				  		<% end %>
						</div>
					</div>
					<div class='heroContainer'>
						<div class='hero boxShadow'>
							<div class="heroImg">
							  <div class='galleryWrapper'>
							    <div id="gallery-products" class="imgGallery">
									<h5 class='thumbTitle'>Cat&aacute;logo de productos</h5>
									<% unless @categorias.empty? %>
									<ul id='productos-por-categoria' class="gallery">
									<%= render :partial => 'productos_por_categoria', :locals => {:categoria => @categorias.first} %>
									<% end %>
									</ul>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				</div> <!-- products ends -->
				
				<div id='events' class='container'> <!-- events starts -->
					<div class='sectionDesc'>
						<div class='descContainer'>
							<h4>Fechas especiales</h4>
							<p>Perm&iacute;tanos acompa&ntilde;arle en su boda, celebraci&oacute;n del d&iacute;a de la madre o t&eacute; de canastilla. Nos complace amenizar fechas especiales con nuestros deliciosos chocolates.</p>
						</div>
					</div>
					<div class='heroContainer'>
						<div class='hero boxShadow'>
							<div class="heroImg">
							  <div class='galleryWrapper'>
								<div id="gallery-events" class="imgGallery">
									<h5 class='thumbTitle'>Galer&iacute;a de eventos</h5>
									<!-- Gallery goes here -->
									<ul class='gallery'>
									  <%= render :partial => 'galeria', :locals => {:folder => 'eventos',:limit=>10} %>
									</ul>
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div> <!-- events starts -->

				<div id='corpGift' class='container'> <!-- corporative gifts starts -->
					<div class='sectionDesc'>
						<div class='descContainer'>
							<h4>Regalos personalizados</h4>
							<p>Cont&aacute;ctenos si desea solicitar nuestros servicios de regalos personalizados. Confeccionamos productos con envoltorios y manualidades acordes a sus necesidades.</p>
						</div>
					</div>
					<div class='heroContainer'>
						<div class='hero boxShadow'>
							<div class="heroImg">
							  <div class='galleryWrapper'>
								<div id="gallery-corpGift" class="imgGallery">
									<h5 class='thumbTitle'>Cat&aacute;logo de regalos personalizados</h5>
									<!-- Gallery goes here -->
									<ul class='gallery'>
									  <%= render :partial => 'galeria', :locals => {:folder => 'regalos',:limit=>10} %>
									</ul>
								</div>
						          </div>
							</div>
						</div>
					</div>
				</div> <!-- corporative gifts ends -->
			</div>
		</div>
	</div> <!-- main container ends -->
	
	<div id='asideWrapper'>
		<div id='aside'>
		
			<div id='buttonsContainer'>
				<div class='closeAside asideButton'></div>
				<div class='cartIcon icon'>
					<span class='toolTip'><strong>Perfil</strong></span>
					<a href='#snBox'></a>
				</div>
				<div class='contactIcon icon'>
					<span class='toolTip'><strong>Contacto</strong></span>
					<a href='#contactForm'></a>
				</div>
			</div>
			
			<div id='formContainer'>
				<div class='asideObject' id='snBox'> <!-- cart form starts -->
					<h5>Encu&eacute;ntranos <br /><span>en las redes sociales</span></h5>
					<div id="facebookLikeBox">
						<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FChocolates-El-placer-del-cacao-y-Flor-de-Ajedrez%2F176497239033452&amp;width=176&amp;height=440&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%231B9DED&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:176px; height:440px;" allowTransparency="true"></iframe>
					</div>
				</div> <!-- cart form ends -->
			
				<%= form_tag '/contact', :remote => true, :class=> 'asideObject',:id => 'contactForm' do -%>
					<h5>Env&iacute;anos tus <br /><span>comentarios o cotizaciones</span></h5>
					<div class='field'>
						<label for='nombre'>Nombre:</label>
						<%= text_field_tag 'nombre', nil,:class => 'text required' %>
					</div>
					<div class='field'>
						<label for='email'>Correo electr&oacute;nico:</label>
						<%= text_field_tag 'email', nil,:placeholder => 'correo@ejemplo.com', :class => 'text required' %>
					</div>
					<div class='field'>
						<label for='asunto'>Asunto:</label>
						<%= text_field_tag 'asunto', nil,:class => 'text required' %>
					</div>
					<div class='field'>
						<label for='descripcion'>Descripci&oacute;n:</label>
						<%= text_area_tag 'descripcion', nil,:class => 'text required' %>
					</div>
					<%= submit_tag 'Enviar',:class => 'submit' %>
					<div class="requiredMsg"><span>Deb&eacute;s llenar el forumario correctamente</span></div>
				<% end -%> <!-- contact form ends -->
			</div>
		</div>
	</div>

	<div id='footer'>
		<div id='footerContainer'>
			<div class='bottomNav'>
				<a class='boxShadow navLink aboutLink' href='#aboutUs'>
					<span>
						<%= image_tag '/images/nav_icons_aboutUs.png',:alt => 'Acerca de m&iacute;',:title => 'Acerca de m&iacute;' %>
					</span><!--section: Sobre m&iacute;-->
				</a>
				<a class='boxShadow navLink ritterLink' href='#products'>
					<span>
						<%= image_tag '/images/nav_icons_products.png',:alt => 'Mis productos',:title => 'Mis productos' %>
					</span><!--section: Productos-->
				</a>
				<a class='boxShadow navLink eventsLink' href='#events'>
					<span>
						<%= image_tag '/images/nav_icons_events.png',:alt => 'Ferias',:title => 'Ferias' %>
					</span><!--section: Ferias-->
				</a>
				<a class='boxShadow navLink giftLink' href='#corpGift'>
					<span>
						<%= image_tag '/images/nav_icons_corpGift.png',:alt => 'Regalos personalizados',:title => 'Regalos personalizados' %>
					</span><!--section: Regalos-->
				</a>
			</div>
			<div class="copyright">2012 &copy; Flor de Ajedrez</div>
		</div>
	</div>	
</div> <!-- wrapper ends -->



<script type ="text/javascript">
	jQuery(document).ready(function(){
	  jQuery("area[rel^='prettyPhoto']").prettyPhoto();
	  jQuery(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({theme:'light_square'});
	  jQuery(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});

	  jQuery(".gallery a[rel^='prettyPhoto']:first").prettyPhoto({
	    custom_markup: '<div id="map_canvas" style="width:500px;"></div>',
	    changepicturecallback: function(){ initialize(); }
	  });
        });
</script>
